nav {
  @include desktop-styles {
    display: block;
    padding: 10px 0;
    z-index: 270;
    position: relative;
    background: transparent;
  }

  @include media-breakpoint-up(md) {
  }

  min-height: 60px;
  padding-top: 15px;
  border-bottom: 1px solid $shaleLighter;

  .navbar-brand {
  	width: 36px;
    padding: 0px;
		&:hover {
			opacity: 0.8;
			transition: 0.3s;
		}
  }

  .navbar-collapse {
    // mobile view
    &.show {
      // .nav-item.dropdown {display: none}
    }
  }

  a {
    color: $shaleDark;
    font-size: 16px;
    padding: 12px 8px;
  	&:hover {
      color: $green;
      text-decoration: none;
	    background: none;
  	}
  }

  .nav-item {
    margin-right: 1.7rem;
  }

  .nav-link {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
  }

  .btn.btn-secondary {
    text-decoration: none;
    border-radius: 0px;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .subnav {
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-basis: auto;
    list-style: none;
    li {
      padding: 0;
    }
  }

  // toggle dropdown
  .fa-menu,
  .navbar-toggler {
    color: $shaleDark;
    img {
      height: 34px;
      width: 34px;
    }
  }

  .dropdown {
    margin-right: 0;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .avatar-clip {
    border-radius: 50%;
    overflow: hidden;
    width: 34px;
    height: 34px;
  }

  .avatar-link {
    padding: 0;
    vertical-align: top;
  }

	&.white-nav {
	  z-index: 230;
	  color: $white;
	  a { color: $white; }
    li > a {
      color: $white;
      opacity: 1;
      &:hover {
        color: $white;
        opacity: 0.75;
      }
    }
	}
}

.turbolinks-progress-bar {
  visibility: hidden;
}

.ReactModalPortal {
  z-index: 281;
  position: relative;
}
