// INDEX:
// 1. Colors
// 2. Layout

//
// 1. Colors:

// Grays
$white:           #FFF;
$gray:            #555;
$grayLight:       #aaa;
$grayLightish:    #bababa;
$grayLighter:     #ddd;
$grayLighterer:   #F2F3F4;
$grayLightest:    #f5f5f5;
$grayDark:        #444;
$grayDarker:      #222;
$black:           #000;

// Colors
$blue:                     #049cdb;
$blueDark:                 #0064cd;
$blueGreen:                #1486b3;
$green:                    #46a546;
$red:                      #9d261d;
$yellow:                   #ffc40d;
$orange:                   #f89406;
$pink:                     #c3325f;
$purple:                   #7a43b6;
$faintPink:                #faeee9;
$turquoise:                #5db1be;
$seafoam:                  #27a387;
$orangeyRose:              #FEB09B;
$teal:                     #43B596;

// brand
$shaleDark:				#212121;
$shale:           #4a5658;
$shaleLight:      #9Ba5aa;
$shaleLighter:    #D4D9DB;
$shaleLightest:   #F9FBFB;

$brandGreen:      #29BD31;
$brandHighlight:	#B8E986;
$brandLime:       #8BCEA3;
$brandBlue:       #5eb0c0;
$brandOcean:      #004E6D;
$brandOrange:     #F6694B;
$brandRed:        #E5502A;
$brandShale:      #435660;
$brandYellow:     #f89406;
$brandLinks:      #26B8AD;
$brandFocus:      rgba(85,178,127,.8);
$error:           $brandRed; // form validations etc
$success:         $green;    // form validations etc
$faintPink:       #faeee9;
$brandWarning:    #ffbd00;
$warning:         #ffbd00;
$warningLighter:  #FCEFC1;
$adminInfo:       #fff0bc;
$linkHover:       #008F20;

// Social colors
$facebook:        #3B5998;
$twitter:         #00AAF1;
$reddit:          #FF3A00;

// Type variables
$baseFontSize: 				14px;
$baseLineHeight:      20px;
// $baseFontFamily:      'Roboto', Helvetica, Arial, sans-serif;
$baseFontFamily:      -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
$serifFontFamily:     'Noto Serif', Georgia, Times, serif;
// $markupFontFamily:    'PT Mono', Monaco, Menlo, Consolas, monospace;
$markupFontFamily:    SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
$mainTextColor:   		$shaleDark;
$headingFontFamily:   'Noto Serif', Times, serif;

// Category variable colors
$project_categories: (
  all:                #333,
  political_science:  #6c5cab,
  anthropology:       #B96D9E,
  art_and_design:     #7E7DEC,
  social_science:     #89BEF7,
  economics:          #456DB4,
  biology:            #1486b3,
  chemistry:          #5EB0C0,
  ecology:            #29a286,
  physics:            #67D6C1,
  materials_science:  #7BCF93,
  earth_science:      #96b94f,
  education:          #FFAD55,
  paleontology:       #fca88a,
  medicine:           #F86B48,
  neuroscience:       #FF5D58,
  psychology:         #DF587C,
  computer_science:   #91CBDD,
  data_science:       #CED5E9,
  engineering:        #989898,
  mathematics:        #434343
);

// Flash colors
$flash_types: (
  info: rgb(240, 248, 249),
  success: rgb(235, 247, 245),
  error: rgb(255, 241, 241),
  warning: rgb(255, 249, 229),
);

// Project state colors
$state_colors: (
  approved: $brandGreen,
  private: #CD8D29,
  ready: #D98083,
  finished: #5B7A87
);

//
// 2. Layout:

// Note: we also have access to the Bootstrap 4 utility classes:
// https://getbootstrap.com/docs/4.1/utilities/

// Global measurements
$desktop-min-width: 768px;
$screen-non-mobile: 768px;
$screen-small: 768px;
$screen-medium: 1250px;

// For devices larger than mobile
// 768px is arbitrary, I stole it from bootstrap
$screen-non-mobile: 768px;

// Z-index values
$zindex-navbar: 50;
$zindex-dropdown: 1050;
$zindex-overlay: 1100;
$zindex-modal: 1200;

// Border Radii
$borderRadius-small: 2px;
$borderRadius-base: 4px;
$borderRadius-large: 8px;

// Font sizes

$fontsize-xs: 12px;
$fontsize-sm: 13px;
$fontsize-md: $baseFontSize;
$fontsize-lg: 16px;

// Multiplier for spacing
$spacer: 4px;
