- opts ||= opts
- white_nav ||= @white_nav

nav.navbar.navbar-expand-lg id="#{opts[:id] if opts}" class="#{'white-nav' if white_nav} #{opts[:class] if opts}"
  .container.my-0

    = link_to root_path, class: "navbar-brand" do
      = image_tag 'jelly.png'

    button.navbar-toggler type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation"
      - if current_user
        .avatar-clip
          = image_tag current_user.avatar_url(:small), class: "avatar"
      - else
        i.fa.fa-stream

    #menu.collapse.navbar-collapse
      = react_component 'SearchBar'

      = form_tag(search_results_path, method: :get, id: 'search-fallback', class: "form-inline my-2 my-lg-0")
        = text_field_tag :query, nil, placeholder: "Search", type: "search", 'aria-label'=>'Search'

      ul.subnav.ml-auto
        - if current_user

          - if @post
            li.nav-item.mr-3
              = link_to 'Save as draft', write_path, class: "btn btn-outline-dark btn-sm"
            li.nav-item.mr-3
              = link_to 'Publish', write_path, class: "btn btn-primary btn-sm"
          - else
            li.nav-item
              = link_to 'Write', write_path, class: "nav-link"
            li.nav-item
              = link_to 'Upload a PDF', new_upload_path, class: "nav-link"

          li.nav-item.dropdown
            a.dropdown-toggle.avatar-link href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              .avatar-clip
                = avatar_image_tag current_user, :medium, class: "avatar"

            .dropdown-menu.dropdown-menu-right
              a.dropdown-item href=dashboard_path
                | Dashboard
              a.dropdown-item href=short_user_path(current_user)
                | Profile
              a.dropdown-item href=edit_user_path(current_user)
                | Settings
              hr
              = link_to 'Log Out', destroy_user_session_path, method: :delete, class:"dropdown-item"
              - if current_user.admin?
                hr
                a.dropdown-item href=admin_path
                  | Admin


        - else
          li.nav-item.mr-0
            = link_to 'Log In', new_user_session_path, class: "nav-link"


