#dashboard.container
  .my-5
    h1 Dashboard

    h2 Tags
    - if @tags
      - @tags.each do |tag|
        span.badge.badge-secondary.mr-2
          = tag.text

    br
    h2 Activity

    br
    .row
      .col-md-12
        h2 My published posts
        - if @posts.empty?
          p.muted.my-3 You haven't created any posts yet!

        - @posts.each do |post|
          - resource = post.user_id? ? short_user_post_path(post.user, post) : post_path(post)


          = link_to resource do
          .post
            h4.title
              = sanitize_title(post.title) || "Title"

            .preview
              - if post.abstract
                = post.abstract.truncate(200, seperator: "...")
            div
              span.date.mr-4
                = post.created_at.strftime("%b %d, %Y")
              span.link
                = link_to post do
                  | ⌞ View article

              - options = {}; options[:include] = [:uploads]
              = react_component 'TagForm', taggable: PostSerializer.new(post, options)

