.container
  .row
    .col-md-12
      .posts-index-header.my-5
        h1 All Posts

      .posts-index
        table.table.table-hover
          thead
            tr
              th ID
              th Uploads
              th Title
              th Authors
              th Publisher
              th Citations
              th Created
              th Actions

          tbody
            - @posts.each do |post|
              tr
                td = post.id
                td
                  - if post.uploads.any?
                    - post.uploads.each do |upload|
                      = link_to upload.id, upload
                td = sanitize_title(post.title) || "Title"
                td = post.authors
                td = post.publisher
                td = post.citations.count
                td
                  - if Time.now - post.created_at > 1.day
                    = post.created_at.strftime("%b %e, %l:%M %p")
                  - else
                    = time_ago_in_words(post.created_at) + " ago"
                td
                  = link_to 'Show', post, class: 'btn btn-xs btn-secondary mr-2 my-1'
                  = link_to 'Edit', edit_post_path(post), class: 'btn btn-xs btn-secondary mr-2 my-1'
                  = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-secondary my-1'

        = will_paginate @posts
