.comment {
  font-family: inherit;
  background-color: $brandHighlight;
  cursor: pointer;
}

.currentComment {
  background-color: $brandHighlight;
}

.commentList,
.commentText {
  display: block;
  padding: 0;
  margin: 0;
}

// TODO: Connect to a Floater-style element to track cursor
// instead of pinning to bottom left.
.j-commentForm {
  width: 375px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid $grayLight;
  border-radius: $borderRadius-base;
  background-color: $white;
  transform: translate(0px, 0px);

  &:focus-within {
    border-color: $green;
    border-width: 2px;
  }
}

.j-commentForm__input {
  width: 100%;
  border: none;
  min-height: 150px;
  max-height: 80vh; // it's resizable vertically
  border-bottom: 1px solid $grayLighter;
  border-top-left-radius: $borderRadius-base;
  border-top-right-radius: $borderRadius-base;
  outline: none;
  padding: $spacer * 3;
}

.j-commentForm__actions {}

// inline comment box
.j-commentReplyForm {
  .j-commentForm__input  {
    min-height: 50px;
    padding: 0;
    padding-top: $spacer * 2;
    font-size: $fontsize-md;
  }
}

/* inline version of comment list */
.ProseMirror ul.commentList {
  font-size: 16px;
  width: 15em;
  position: absolute;
  top: calc(100% + 8px);
  left: -2em;
  font-size: 1rem;
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  padding: 0;
}

.tooltip-wrapper {
  display: inline-block;
  position: absolute;
  width: 0;
  overflow: visible;
  vertical-align: bottom;
  margin-top: 15px;
}

.commentText {
  position: relative;
  pointer-events: auto;
  margin: 0;
  font-style: normal;
}

.btn.j-commentDelete {
  color: $gray;

  &:hover {
    color: $error;
  }
}

.btn.j-commentReply {
   color: $gray;

  &:hover {
    color: $success;
  }
}
