@import 'editor/defaults';
@import 'editor/floater';
@import 'editor/menubar';

.title {
  // hacky fix :(;
  h1 p {
    font-size: 32px;
    line-height: 40px;
  }
}


.loading-indicator {
	i {
		margin-right: 3.5px;
		font-size: 6px;
		bottom: 1.5px;
		position: relative;
		color: #a3d9ae;
	}
	font-size: 12px;
	color: #999;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: transparentize($white, 0.5);
	border-radius: $borderRadius-base;
	border: 1px solid $grayDarker;
}

.active {
	i {
		color: grey;
		transition-duration: 0.4s;
	}
}

.image-modal-container {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 200px;
  top: 20vh;
}
