.hero-header {
  top: 22vh;
  position: relative;
  text-align: center;
  padding: 30px 0;

  .index-icon {
    animation-duration: 0.34s;
  }

  #jelly:hover {
    animation-name: jello;
  }

  .block {
    padding-bottom: 16px;
    .btn.btn-secondary {
      text-decoration: none;
      border-radius: 0px;
      padding: 16px;
      font-size: 1.25em;
      color: $shaleDark;
      border-color: $shaleDark;
    }
    a,
    .contact-us {
      color: $grayLight;
    }
  }

  img {
    display: inline-block;
  }

  h1 {
    font-size: 24px;
    padding: 70px 0 20px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .header-link {
    margin: 50px 0;

    .btn-primary {
      padding: 12px 20px;
      font-weight: 600;
      font-size: 17px;
    }

    span {
      padding-left: 10px;
      color: $grayLight;
      font-size: 14px;
    }

    p {
      margin-top: 50px;
      font-size: 12px;
      color: $grayLight;
    }
  }
}

#about, #pricing {
  p {
    font-size: 21px;
  }
}

#terms {
  p {
  padding-bottom: 16px;
  }
  h3 {
  padding-bottom: 16px;
  }
}

#dashboard {
  h4 {
    font-family: $baseFontFamily;
    font-weight: bold;
    // font-weight: 500;
    // text-transform: capitalize;
    // font-variant: small-caps;
    // font-family: 'New York';
    // letter-spacing: 0.2px;

  }
  h2 {
    font-family: $baseFontFamily;
    // font-family: 'Times New Roman';
  }
}

#jobs {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}
