.editor {
	padding: 0px;
}

.posts-index-header {
  .btn-primary {
    background-color: green;
    border-color: transparent;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
    a {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $white;
      background-color: green;
      opacity: 0.8;
    }
  }
}

.posts-index {
  td, th {
    padding: 10px 20px;
  }
  font-size: 12px;
  padding-bottom: 100px;
}

.post {
  border: 2px solid $grayLighterer;
  border-radius: 4px;
  padding: 32px;
  margin: 20px 0;

  .preview {
  	color: $shaleDark;
  	font-family: $serifFontFamily;
  	font-size: 14px;
  	line-height: 20px;
  	margin: 30px 0;
  }
  .date {
    font-size: 13px;
    color: $shale;
  }
  .link {
    font-size: 13px;
    color: $brandGreen;
    // margin: 12px 12px 0 12px;
  }
  &:hover {
  	box-shadow: 1px 1px 15px -1px #eee;
  	transition: 0.3s;
  }
}

.post-show {
	width: 680px;
  display: block;
  margin: 0 auto;

  // post editor body styles
  .post-editor {
		font-family: $serifFontFamily;

  	p,
  	a,
		li, {
  		font-size: 16px;
  		line-height: 1.5;
		}

  	strong {
  		font-weight: 600;
  	}

  	img {
  		padding: 30px;
	    margin: 0 auto;
	    border: 1px solid #eee;
	    margin-top: 20px;
	    margin-bottom: 0;
	    border-radius: 2px;
	    max-width: 100%;
			max-height: 80vh;
  	}

  	.figure-caption {
  		color: $shaleLight;
  	}
  }

	.authors {
	  padding-top: 20px;
	  font-size: 18px;
	  font-weight: 500;
	}
	.publisher {
	  font-size: 10px;
	}
  .reference {
    margin: 10px 0;
    .list-index {
    	display: inline-block;
    	margin: 0 8px 0 0;
    	vertical-align: top;
    	p {
	    	font-size: 13px;
	    	color: $shale;
    	}
    }
    .citation-info {
    	max-width: 595px;
      display: inline-block;
    	vertical-align: top;
      p {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
      }
    }
  }

  .post-placeholder {
    .post-placeholder-message {
      border: 2px solid $grayLighter;
      background: white;
      box-shadow: 0 0 15px 4px $grayLighter;
      border-radius: 6px;
      padding: 20px;
      position: relative;
      width: 85%;
      top: 130px;
      margin: 0 auto;
      z-index: 4;
      img {
        display: inline-block;
        padding-right: 20px;
        vertical-align: top;
        width: 35%;
      }
      p {
        line-height: 21px;
        margin: 10px 0;
      }
      i {
        color: $grayLighter;
      }
      .box {
        width: 65%;
        display: inline-block;
      }
    }
    .title-shape {
      border-radius: 7px;
      background: $grayLightest;
      width: auto;
      height: 52px;
      margin-top: -30px;
      z-index: 2;
    }
    .body-shape {
      border-radius: 7px;
      background: linear-gradient($grayLightest, $white);
      width: auto;
      height: 350px;
      margin-top: 100px;
      z-index: 2;
    }
  }

  .header{
    padding-bottom: 40px;
    .pdf-url {
      margin-top: 40px;
      color: #bbb;
      font-size: 13px;
      a, a:hover {
        color: #bbb;
      }
    }
  }
}
