.users {
  .user-avatar {
    img {
    }
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
  }

  .col-md-avatar {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .custom-file {
    .field_with_errors {
      background: white;
      label.custom-file-label { border-color: $danger !important; }
      label.custom-file-label::after { display: none; }
    }
  }

  label.custom-file-label {
    width: 200px;
  }

  // remove bootstrap "browse" button part
  label.custom-file-label::after { display: none; }

  .custom-file-input:lang(en) ~ .custom-file-label::after {
    display: none;
  }

  .none {
    display: none;
  }
}


.clear-modal-container {
  background: white;
  outline: none;
  margin: 0 auto;
  height: auto;
  width: 40vw;
  top: 20%;
  position: relative;
}
.reg-modal-container {
  animation-duration: 0.16s;
  height: auto;
  background: white;
  margin: 0 auto;
  text-align: center;
  border: 2px solid $grayLighter;
  border-radius: 9px;
  padding: 40px;
  outline: none;

  .login-message {
    font-size: 16px;
  }
}


#followbutton {
  width: 120px;
  text-align: center;
  font-weight: 700;
  i, span { color: $white; }
  &.btn-primary:active,
  &.btn-primary:focus {
    box-shadow: none;
  }

}
#followbutton span:after{
  content: 'Follow';
}
#followbutton.following {
  background: $white;
  border: 1px solid $shaleLight;
  span { color: $shale; };
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
#followbutton.following span:after{
  content: 'Following';
}
#followbutton.following:hover {
  background-color: $danger;
  border-color: $danger;
  span { color: $white; }
}
#followbutton.following:hover span:after{
  content: 'Unfollow';
}


