.container.mt-5
  .row
    .col-md-12
      h1 Users

      table
        thead
          th Username
          th Email
          th Posts
          th colspan="3" Actions

        tbody
          - @users.each do |user|
            tr
              td = user.username
              td = user.email
              td = user.posts.count
              td = link_to 'Show', user
              td = link_to 'Edit', edit_user_path(user)
              td = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
      br
      = link_to 'New User', new_user_path

      = will_paginate @users
